name: Actualitzar Futbol

on:
  schedule:
    - cron: '0 */4 * * *' # S'executa cada 4 hores
  workflow_dispatch: # Permet executar manualment amb el botó

permissions:
  contents: write  # IMPORTANT: Dóna permís per escriure i guardar canvis

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar el codi del repositori
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instal·lar llibreries necessàries
        run: |
          pip install requests

      - name: Executar el generador (Python)
        env:
          API_URL: ${{ secrets.API_URL }}
          API_URL_PPV: ${{ secrets.API_URL_PPV }}
        run: python generator.py

      - name: Guardar i Pujar canvis (Commit & Push)
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"
          git add index.html memoria_partits.json memoria_backup.json
          git commit -m "Auto-update schedule ⚽" || echo "No hi ha canvis per guardar"
          git push